.login-container {
  width: 420px;
  height: 400px;
  margin: 500px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

.login-container section.form {
  max-width: 350px;
}

.login-container section.form img {
  width: 45%;
  margin: 0 auto;
  display: block;
}

.login-container section.form form {
  margin-top: 40px;
}

.login-container section.form h1 {
  color: #3b3b3b;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px; /* Espaçamento inferior */
}
